body {
	background-image: url(https://files.cdn.thinkific.com/file_uploads/397660/attachments/953/191/314/santa.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.heading {
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 60px;
	background-color: rgba(251, 248, 249, 0.5);
	padding: 20px;
	border: 3px rgb(90, 90, 90) solid;
	color: rgb(26, 26, 26);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 10px;
}

.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.christmas {
	border: 3px rgb(90, 90, 90) solid;
	width: 200px;
	height: 300px;
	background-color: rgba(251, 248, 249, 0.5);
	margin-top: 80px;
	border-radius: 10px;
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3 {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

.days,
.hours,
.minutes,
.seconds {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;

}

.red {
	font-size: 60px;
	border: none;
	color: red;
	font-family: 'Staatliches', cursive;

}

img {
	width: 80px;
	height: 80px;
}

button {
	margin-left: 100px;
	background-color: transparent;
	border: transparent;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}


@media all and (max-width:800px) {
	h1 {
		font-size: 30px;
	}

	.christmas {
		width: 150px;
		height: 200px;
	}

	#myButton {
		margin-left: 50px;
	}

	.days,
	.hours,
	.minutes,
	.seconds {
		font-size: 30px;
	}

	h3 {
		margin-top: 8px;
	}

	.container {
		margin-bottom: 40px;
	}
}

@media all and (max-width:500px) {
	h1 {
		font-size: 26px;
		margin-top: 40px;
	}


	h3 {
		margin-top: 8px;
	}

	.container {
		margin-bottom: 120px;
	}

	#myButton {
		margin-left: 150px;

	}
}