:root {
	--border: rgb(70, 157, 177);
	--text: rgb(247, 242, 242);
	--hover: #fff;
	--color-bg-dark: rgb(24, 23, 23);
	--slides: 4;
	--width: 1280px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-bg-dark);
	width: 100%;
	height: 100vh;
	font-size: 3rem;
	color: var(--text);
}

.hid {
	visibility: hidden;
}

.container {
	width: var(--width);
	margin: 1rem auto;
	height: 880px;
}

.meme-slider>input {
	display: none;
}

.meme-slider {
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
		'meme-content meme-content'
		'meme-description meme-control';
	row-gap: 4rem;
	width: 100%;
	height: 100%;
	position: static;
	overflow: hidden;
	background-color: var(--color-bg-dark);
}

.meme-slider-text {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.meme-slider-content {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.meme-slider-content {
	grid-area: meme-content;
}

.meme-description {
	display: flex;
	width: 100% * var(--slides);
	height: 100%;
	transition: transform 1s ease;
}

.meme-content {
	display: flex;
	width: 100% * var(--slides);
	height: 100%;
	transition: transform 1s ease;
}

.meme-content .meme-slide {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: var(--width);
	border-radius: 1rem;
}

.meme-content .meme-slide-1 {
	background-image: url('/cssMemeSlider/images/1.jpg');
}

.meme-content .meme-slide-2 {
	background-image: url('/cssMemeSlider/images/2.jpg');
}

.meme-content .meme-slide-3 {
	background-image: url('/cssMemeSlider/images/3.jpg');
}

.meme-content .meme-slide-4 {
	background-image: url('/cssMemeSlider/images/4.jpg');
}

.meme-slider-text {
	grid-area: meme-description;
}

.meme-description .meme-slide {
	display: inline-block;
	width: var(--width);
	height: 100%;
	padding-right: 11rem;
}

.meme-control {
	display: flex;
	justify-content: space-around;
	grid-area: meme-control;
}


.meme-control label {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 1px solid var(--border);
	background-color: var(--color-bg-dark);
	transition: all 0.5s ease-out;
	margin-right: 0.5rem;
}

.meme-control label:hover {
	border: 1px solid var(--hover);
	background-color: var(--hover);
}

#r1:checked~.meme-slider-content .meme-content,
#r1:checked~.meme-slider-text .meme-description {
	transform: translateX(0);
}

#r2:checked~.meme-slider-content .meme-content,
#r2:checked~.meme-slider-text .meme-description {
	transform: translateX(-1280px);
}

#r3:checked~.meme-slider-content .meme-content,
#r3:checked~.meme-slider-text .meme-description {
	transform: translateX(-2560px);
}

#r4:checked~.meme-slider-content .meme-content,
#r4:checked~.meme-slider-text .meme-description {
	transform: translateX(-3840px);
}

#r1:checked~.meme-control .meme-control-1 {
	background-color: var(--border);
}

#r2:checked~.meme-control .meme-control-2 {
	background-color: var(--border);
}

#r3:checked~.meme-control .meme-control-3 {
	background-color: var(--border);
}

#r4:checked~.meme-control .meme-control-4 {
	background-color: var(--border);
}

@media screen and (max-width: 720px) {
    body {
		font-size: 2rem;
	}
	.meme-slider {
		grid-template-rows: 3fr 40px 40px;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		grid-template-areas:
			'meme-content'
			'meme-control'
			'meme-description';
	}

	.meme-control {
		justify-content: center;
	}

	.meme-control label {
		margin-right: 1.2rem;
	}

	.meme-control label:last-of-type {
		margin-right: 0;
	}

	.meme-description .meme-slide {
		text-align: center;
		padding: 0;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size: 1.6rem;
	}

	.meme-control {
		margin-top: 20px;
	}
.meme-description {
    margin-left: -40%;
}
}
