:root {
	--border: rgb(70, 157, 177);
	--text: rgb(247, 242, 242);
	--hover: #fff;
	--color-bg-dark: rgb(24, 23, 23);
	--slides: 4;
	--width: 1280px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-bg-dark);
	width: 100%;
	height: 100vh;
	font-size: 3rem;
	color: var(--text);
}

.hid {
	visibility: hidden;
}

.container {
	width: var(--width);
	margin: 1rem auto;
	height: 880px;
}

.meme-slider>input {
	display: none;
}

.meme-slider {
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
		'meme-content meme-content'
		'meme-description meme-control';
	row-gap: 4rem;
	width: 100%;
	height: 100%;
	position: static;
	overflow: hidden;
	background-color: var(--color-bg-dark);
}

.meme-slider-text {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.meme-slider-content {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.meme-slider-content {
	grid-area: meme-content;
}

.meme-description {
	display: flex;
	width: 100% * var(--slides);
	height: 100%;
	transition: transform 1s ease;
}

.meme-content {
	display: flex;
	width: 100% * var(--slides);
	height: 100%;
	transition: transform 1s ease;
}

.meme-content .meme-slide {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: var(--width);
	border-radius: 1rem;
}
